
<footer class="main-footer b-0" style="font-size: small; height: 53px">
    <div class="row">
        <div class="col nowrapleft">
            © 2021-2022 Eckerle Information System
        </div>
        <div class="col nowrapright">
            A weboldalt fejlesztette: Pálfi Attila &nbsp;|&nbsp; <a href="http://kiapp08/EIS/Home">EIS v1.2.0.a</a>
        </div>
    </div>
</footer>