/*@font-face {
    font-family: 'URWDINLight';
    src: url('fonts/URWDINLight.eot');
    src: url('fonts/URWDINLight.eot') format('embedded-opentype'),
         url('fonts/URWDINLight.woff2') format('woff2'),
         url('fonts/URWDINLight.woff') format('woff'),
         url('fonts/URWDINLight.ttf') format('truetype'),
         url('fonts/URWDINLight.svg#URWDINLight') format('svg');
}*/
