/*@font-face {
    font-family: 'URWDINXLight';
    src: url('fonts/URWDINXLight.eot');
    src: url('fonts/URWDINXLight.eot') format('embedded-opentype'),
         url('fonts/URWDINXLight.woff2') format('woff2'),
         url('fonts/URWDINXLight.woff') format('woff'),
         url('fonts/URWDINXLight.ttf') format('truetype'),
         url('fonts/URWDINXLight.svg#URWDINXLight') format('svg');
}*/
