@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2 style="color: rgba(0,0,0,.9);">@ViewData["Title"]</h2>
<p style="color: rgba(0,0,0,.9);">
    Please check your email to reset your password.
</p>

