@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger" style="color: rgba(0,0,0,.9);">@ViewData["Title"]</h2>
    <p class="text-danger" style="color: rgba(0,0,0,.9);">This account has been locked out, please try again later.</p>
</header>
