@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h2 style="color: rgba(0,0,0,.9);">@ViewData["Title"]</h2>
    <p style="color: rgba(0,0,0,.9);">You have successfully logged out of the application.</p>
</header>