@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2 style="color: rgba(0,0,0,.9);">@ViewData["Title"]</h2>
<p style="color: rgba(0,0,0,.9);">
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
 