@model EIS.EISModels.AlertStations

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/EISDesign/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AlertStations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LineId" class="control-label"></label>
                <input asp-for="LineId" class="form-control" />
                <span asp-validation-for="LineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationId" class="control-label"></label>
                <input asp-for="StationId" class="form-control" />
                <span asp-validation-for="StationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Station" class="control-label"></label>
                <input asp-for="Station" class="form-control" />
                <span asp-validation-for="Station" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manual" class="control-label"></label>
                <input asp-for="Manual" class="form-control" />
                <span asp-validation-for="Manual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionEn" class="control-label"></label>
                <input asp-for="DescriptionEn" class="form-control" />
                <span asp-validation-for="DescriptionEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

